@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Nunito:wght@500&display=swap");

* {
  font-family: "Nunito", sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url("./imgs/background3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 10px;
  margin: 20px;
}

h1 {
  background-color: rgba(93, 155, 255, 0.8);
  color: whitesmoke;
  padding: 20px 0px;
  font-size: 30px;
  margin: 0px;
}

p {
  width: 200px;
  font-size: 18px;
  margin: 10px 0px;
}

h3 {
  border-bottom: 2px solid grey;
  font-size: 25px;
  margin: 10px;
}

img {
  width: 160px;
  height: 70px;
  margin: 15px;
}

a {
  border: 2px solid transparent;
  padding: 15px;
  background-color: rgb(50, 130, 255, 0.8);
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 15px;
}

a:hover {
  transition: 0.5s;
  border-color: black;
  font-weight: 900;
  background-color: rgba(0, 98, 255, 0.8);
  box-shadow: 5px 5px black;
}

@media (min-width: 667px) {
  h1 {
    width: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 80%;
  }

  h1 {
    font-size: 40px;
  }

  p {
    width: 200px;
    font-size: 18px;
    margin: 10px 0px;
  }
}

@media (min-width: 1024px) {
}
